.main
    &__promo
        min-height: 996px
        padding: 300px 0px
        background: linear-gradient(75.68deg, #DDDDDD 13.42%, #F2F2F4 78.2%)
        position: relative
        &-text
            max-width: 734px
            margin-top: 28px
            position: relative
            &::before
                content: ''
                position: absolute
                display: block
                width: 175px
                height: 3px
                background-color: #B93839
                left: 0
                top: -10px
        &-undertitle
            margin: 40px 0px 60px
            color: rgba(0, 0, 0, 0.5)
        &-telegram
            position: absolute
            display: flex
            align-items: center
            bottom: 30px
            right: 36px
            img 
                width: 42px
                margin-left: 24px