.support
    &__main
        padding: 170px 0px 130px
        span 
            display: block
            margin-bottom: 20px
        &-blocks
            display: flex
            justify-content: space-between
            margin-top: 90px
        &-right
            width: 47.1%
        &-left
            padding-left: 28px
            width: 47.5%
            position: relative
            .perks
                position: absolute
                width: 28px
                left: 0
                top: -30px
            .supp
                width: 527px
                margin-top: 40px
    &__adv 
        background-color: #F5F6F7
        position: relative
        padding: 100px 0px
        &-bg 
            position: absolute
            bottom: 0
            right: 0
        &-top
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 150px
        &-undertitle
            width: 43%
        &-bott 
            text-align: center
        &-items 
            display: flex
            justify-content: center
            flex-wrap: wrap
            margin-top: 90px
        &-item 
            border-radius: 3px
            cursor: default
            transition: 0.5s all
            padding: 55px 14px
            width: 434px
            height: 405px
            margin: 0px 18px 90px 18px
            display: flex
            flex-direction: column
            align-items: center
            &-image
                max-width: 145px
                height: 105px
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 53px       
            &:hover 
                box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.12)