@media (max-width: 1650px)
    .projects
        &__promo
            &-bg 
                right: -6%
@media (max-width: 1430px)
    .container
        width: 1380px
@media (max-width: 1400px) 
    .container
        width: 1140px
    .title
        &_fz30 
            font-size: 26px
            line-height: 31px
    .form
        &_task
            &-text
                max-width: 500px
            &-field
                width: 580px
    .promo
        &_sect
            &-text
                max-width: 606px
    .contacts
        &__promo
            &-bg 
                right: 10%
    .payment
        &__promo 
            &-bg 
                width: 627px
                right: 1%
        &__pay 
            min-height: 690px
        &__adv 
            min-height: 690px
            &-info
                &-image
                    width: 529px
                    height: 353px
                &-text 
                    width: 552px
        &__call
            &-bg
                width: 632px
    .projects
        &__promo 
            &-bg 
                right: -19%
        &__cases
            &-text 
                width: 255px
            &-list 
                width: 862px
                &-tabs
                    margin-bottom: 66px
                    span
                        &:not(:last-child)
                            margin-right: 40px
                &-items
                    grid-template: 525px / repeat(2, 417px)
                    grid-auto-rows: 525px
                    gap: 90px 0px
            &-item 
                &-image
                    height: 265px
        &__call
            &-bg 
                right: -6%
    .services
        &__promo
            &-bg 
                right: -18%
        &__list
            min-height: 750px
            padding: 150px 0px
            &-item
                width: 332px
                height: 306px
                &-image
                    max-width: 203px
        &__item
            &-image
                max-width: 444px
            &-info
                max-width: 611px
@media (max-width: 1200px)
    p 
        margin-bottom: 30px
    .container
        width: 960px
    .text
        &_fz16
            font-size: 14px
            line-height: 20px
        &_fz20
            font-size: 18px
            line-height: 23px
        &_fz22 
            font-size: 20px
            line-height: 26px
    .button
        padding: 11px 63px
    .title
        &_fz30 
            font-size: 23px
            line-height: 27px
        &_fz39 
            font-size: 32px
            line-height: 36px
        &_fz64
            font-size: 48px
            line-height: 60px
        &_promo
            &::before
                width: 140px
    .promo
        &_sect
            min-height: 460px
            padding: 160px 0px
            &-undertitle
                margin-top: 27px
            &-text 
                max-width: 480px
    .form
        &_task
            min-height: 650px
            padding: 140px 0px
            &-title
                margin-bottom: 60px
            &-text 
                max-width: 419px
            &-field
                width: 480px
                form 
                    .input_block
                        margin-bottom: 54px
                    .personal
                        margin-top: 21px
    .header
        &__logo
            img 
                width: 166px
        &__nav
            ul 
                width: 572px
                li 
                    a 
                        height: 90px
        &__lang 
            margin-left: 43px
            &-item 
                width: 40px
                height: 40px
    .contacts
        &__promo 
            &-bg 
                width: 357px
    .payment
        &__promo
            &-bg 
                top: 44%
                width: 578px
                right: 2%
        &__pay 
            min-height: 526px
            padding: 140px 0px
            &-title
                margin-bottom: 55px
        &__adv 
            min-height: 575px
            padding: 90px 0px
            &-info
                margin-top: 60px
                &-image
                    width: 450px
                    height: 300px
                &-text 
                    width: 475px
                    &-pos 
                        padding: 25px 10px 25px 35px
                        &::before
                           left: 14px
                           width: 3px
        &__call
            min-height: 575px
            padding: 130px 0px 70px
            &-bg 
                width: 544px
            &-text 
                max-width: 515px
            &-undertitle
                margin: 55px 0px 45px 
    .projects
        &__promo
            &-bg 
                right: -14%
        &__cases
            padding: 130px 0px
            &-text 
                width: 218px
                &-undertitle
                    margin-top: 51px
            &-list 
                width: 721px
                &-tabs
                    margin-bottom: 55px
                    span 
                        padding-bottom: 5px
                        &:not(:last-child)
                            margin-right: 23px
                &-items
                    grid-template: 452px / repeat(2, 348px)
                    grid-auto-rows: 452px
                    gap: 50px 0px
            &-item 
                &-image 
                    height: 220px
                    &-link 
                        bottom: 12px
                        left: 8px
                        font-size: 9px
                        line-height: 100%
                &-title
                    margin: 20px 0px 16px 37px
        &__call 
            min-height: 535px
            padding: 90px 0px
            &-text 
                max-width: 495px
            &-undertitle
                margin: 63px 0px 46px
    .services
        &__list 
            min-height: 590px
            padding: 105px 0px
            &-items 
                margin-top: 73px
            &-item 
                width: 310px
                height: 286px
                padding-bottom: 35px
                &-image
                    max-width: 176px
        &__item
            min-height: 500px
            padding: 40px 0px
            &-info 
                max-width: 493px
            &-undertitle
                margin: 17px 0px 40px
            &-list 
                margin: 17px 0px 44px
                li
                    margin-bottom: 11px
                    padding-left: 15px
                    &::before
                        width: 6px
                        height: 6px
            &-image 
                max-width: 378px
@media (max-width: 992px)
    p 
        margin-bottom: 20px
    .title
        &_fz30 
            font-size: 19px
            line-height: 21px
    .container
        width: 720px
    .footer
        display: none !important
    .header
        position: fixed !important
        width: 100%
        left: 50%
        transform: translateX(-50%)
        height: 70px
        display: flex
        background-color: #fff
        &__lang 
            margin-left: 0
            margin-right: 43px
        &__hamburger
            display: flex
        &__nav 
            ul 
                overflow-y: auto
                width: 464px
                max-height: 500px
                position: absolute
                right: -100%
                visibility: hidden
                top: 100%
                flex-direction: column
                z-index: 10
                background-color: #fff
                transition: 0.5s all
                box-shadow: -2px 8px 10px rgba(0, 0, 0, 0.2)
                &.active
                    right: 0
                    visibility: visible
                li 
                    &.active
                        a
                            border-bottom: 4px solid #000
                    a 
                        height: 75px
                        padding-left: 45px
                        &:hover 
                            border-bottom: 4px solid #000
    .promo
        &_sect 
            min-height: 460px
            padding: 190px 0px 140px
            &-text 
                max-width: 382px
    .form 
        &_task 
            min-height: 650px
            padding: 105px 0px
            .container
                flex-direction: column
            &-text
                max-width: 100%
            &-field
                width: 100%
                margin-top: 80px
    .contacts
        &__promo 
            &-bg 
                width: 310px
                right: 5%
                top: 58%
    .payment
        &__promo
            &-bg 
                top: 53%
                width: 495px
                right: -8%
        &__pay 
            &-text 
                max-width: 400px
        &__adv
            min-height: 540px
            padding: 90px 0px
            &-info 
                &-image
                    width: 365px
                    height: 255px
                &-text 
                    width: 340px
        &__call 
            padding: 110px 0px 60px
            &-text 
                max-width: 430px
            &-bg 
                width: 464px
                right: -99px
    .projects
        &__promo 
            &-bg 
                right: -47%
        &__cases
            padding: 100px 0px
            .container
                flex-direction: column
            &-text 
                margin-bottom: 59px
                width: 100%
            &-undertitle
                margin-top: 40px
            &-list
                width: 100%
        &__call 
            min-height: 467px
            padding: 64px 0px
            &-bg 
                right: -18%
            &-undertitle
                margin: 38px 0px 35px
    .services
        &__promo 
            &-bg 
                right: -52%
        &__list 
            min-height: 420px
            padding: 75px 0px
            &-items
                margin-top: 42px
            &-item
                width: 235px
                height: 221px
                padding-bottom: 27px
                &-image
                    max-width: 151px
                    margin-bottom: 18px
        &__item 
            &-info 
                max-width: 396px
            &-image
                max-width: 274px
@media (max-width: 768px)
    .container
        width: 540px
    .text 
        &_fz20 
            font-size: 16px
            line-height: 20px
        &_fz22 
            font-size: 17px
            line-height: 21px
    .title
        &_fz39 
            font-size: 27px
            line-height: 30px
        &_fz64 
            font-size: 35px
            line-height: 40px
        &_line 
            &::before
                width: 85px
                height: 1px
        &_promo 
            &::before
                width: 91px
                height: 2px
    .button
        padding: 9px 41px
    .promo
        &_sect
            min-height: 390px
            padding: 160px 0px 100px
            &-text 
                max-width: 308px
            &-undertitle
                margin-top: 20px
    .form 
        &_task 
            min-height: 600px
            padding: 75px 0px
            &-title 
                margin-bottom: 34px
            &-field 
                form 
                    .input_block
                        margin-bottom: 45px
    .header
        height: 50px
        &__logo 
            img 
                width: 151px
        &__nav 
            ul 
                width: 362px
                max-height: 410px
                li 
                    &.active
                        a 
                            border-bottom: 2px solid #000 !important
                    a 
                        height: 67px
                        padding-left: 33px
                        &:hover 
                            border-bottom: 2px solid #000 !important
    .contacts
        &__promo
            &-bg 
                width: 275px
                right: -5%
    .payment
        &__promo
            &-bg 
                top: 49%
                width: 442px
                right: -20%
        &__pay 
            min-height: 480px
            padding: 110px 0px
            &-bg 
                left: unset
                transform: unset
                right: 0
                width: 110%
        &__adv 
            &-info 
                margin-top: 40px
                flex-direction: column
                &-image
                    width: 100%
                    height: 300px
                    margin-bottom: 42px
                &-text
                    width: 100%
        &__call 
            padding: 60px 0px
            &-bg 
                position: static
                top: unset
                transform: unset
                right: unset
                margin: 0px auto 46px
                display: block
                width: 495px
            &-text 
                max-width: 100%
                &-undertitle
                    margin: 42px 0px 36px
    .projects
        &__promo
            &-bg 
                right: -56%
        &__cases
            padding: 65px 0px
            &-list 
                max-width: 470px
                margin: 0 auto
                &-tabs
                    margin-bottom: 40px
                &-items
                    grid-template: 475px / repeat(1, 100%)
                    grid-auto-rows: 475px
                    justify-content: center
            &-item
                &-image 
                    height: 264px
        &__call 
            min-height: 360px
            &-bg 
                right: -36%
                filter: opacity(0.3)
            &-text 
                max-width: 100%
    .services
        &__promo 
            &-bg
                right: -61%
        &__list 
            min-height: 400px
            padding: 56px 0px
            &-items
                margin-top: 42px
                justify-content: center
            &-item
                width: 235px
                height: 197px
                &-image
                    max-width: 139px
        &__item 
            min-height: 500px
            padding: 25px 0px
            .container
                flex-direction: column
            &-info 
                max-width: 100%
                margin: 40px 0px
            &-undertitle
                margin: 17px 0px 25px
            &-list
                margin: 17px 0px 26px
            &-image
                max-width: 332px
@media (max-width: 576px)
    p 
        margin-bottom: 13px
    .container
        width: 100%
        padding: 0px 15px
    .promo 
        &_sect 
            &-text 
                max-width: 100%
    .form 
        &_task 
            &-field
                form 
                    .input_block
                        &-item 
                            width: 49%
    .header
        &__logo 
            img 
                width: 129px
        &__lang 
            margin-right: 20px
        &__nav 
            ul 
                width: 100%
    .contacts
        &__promo 
            &-bg 
                width: 258px
                right: -42%
                filter: opacity(0.4)
    .payment
        &__promo
            &-bg 
                top: 58%
                width: 442px
                right: 50%
                transform: translate(50%, -50%)
                filter: opacity(0.3)
        &__pay 
            min-height: 480px
            padding: 68px 0px
            &-title
                margin-bottom: 39px
            &-bg 
                width: calc(441px + 40%)
        &__adv 
            min-height: 540px
            padding: 60px 0px
            &-info 
                &-image
                    height: 268px
        &__call 
            &-bg 
                width: 100%
                max-width: 413px
            &-undertitle
                margin: 45px 0px
            &-button 
                display: block
                margin: 0 auto
    .projects
        &__promo 
            &-bg 
                right: -54%
                filter: opacity(0.2)
        &__cases 
            &-undertitle 
                margin-top: 23px
            &-list 
                max-width: 380px
                &-items
                    grid-template: 429px / repeat(1, 100%)
                    grid-auto-rows: 429px
            &-item
                &-image
                    height: 190px
        &__call 
            &-bg 
                top: 62%
                right: -98%
                filter: opacity(0.2)
            &-button 
                display: block
                margin: 0 auto
    .services
        &__promo 
            &-bg 
                right: -82%
                filter: opacity(0.1)
        &__item 
            &-image
                width: 100%
            &-button 
                display: block
                margin: 0 auto